/* Fonts */

@font-face{
    font-family: AlegrayaSans-Black;
    src: url('../fonts/AlegreyaSans-Black.ttf');
}
@font-face {
    font-family: Bebas Neue;
    src: url('../fonts/BebasNeue-Regular.ttf');

  }

@font-face{
    font-family: AlegrayaSans-Bold;
    src: url('../fonts/AlegreyaSans-Bold.ttf');
}

@font-face{
    font-family: AlegrayaSans-Regular;
    src: url('../fonts/AlegreyaSans-Regular.ttf');
}

@font-face{
    font-family: AlegrayaSans-Thin;
    src: url('../fonts/AlegreyaSans-Thin.ttf');
}

@font-face{
    font-family: Futura-Medium;
    src: url('../fonts/Futura-Medium.ttf');
}

@font-face{
    font-family: Futura-Light;
    src: url('../fonts/Futura-Light.ttf');
}

@font-face{
    font-family: HiRolley-Regular;
    src: url('../fonts/HiRolley-Regular.otf');
}

@font-face{
    font-family: NanumPenScript-Regular;
    src: url('../fonts/NanumPenScript-Regular.ttf');
}